body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

.datepicker {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3);
    width: 300px;
    padding: 15px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header .current-date {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: gray;
    transition: color 0.3s ease;
}

.header button:hover {
    color: black;
}

.daysweek {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: 14px;
    color: lightslategray;
    margin-bottom: 10px;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.date {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.date:hover, .prev-month:hover, .next-month:hover {
    background-color: #e0e0e0;
}

.prev-month,
.next-month {
    color: #ccc;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
